* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgb(82, 81, 81);
    font-family: 'Poppins';

}

.container {
    margin-top: 70px;
    margin-left: 40.33%;
    /* border: 1px solid red; */
    width: 350px;
    height: 350px;
    padding: 5px;
    background-color: black;
    /* border-radius: 10px; */
}

.container .outterbox {
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(143, 142, 142);
    /* border-radius: 10px; */

}

.outterbox .box {
    width: 113.333px;
    height: 113.333px;
    border: 1px solid rgb(68, 68, 68);
    display: grid;
    place-items: center;
    font-size: 3.5rem;
    color: white;
    cursor: pointer;
}


.outterbox .box:hover {
    background-color: rgb(102, 102, 102);
}

.choice {
    /* border: 1px solid white; */
    font-size: 2rem;
    width: 350px;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
    column-gap: 5px;
    margin-left: 40.33%;
    margin-top: 20px;

}

.choice .selected1 {
    background-color: rgb(217, 36, 36);
    color: white;
}

.choice .selected2 {
    background-color: rgb(219, 37, 37);
    color: white;
}

button {
    font-size: 2rem;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.choice .players {
    width: 100%;
    /* border:1px solid blue; */
    display: flex;
    justify-content: space-around;
    grid-column: 1 /span 2;
}
.winner{
    margin-top: 50px;
    font-size: 2rem;
    letter-spacing: 3px;
    /* border: 1px solid blue; */
    text-align: center;
    color: rgb(49, 185, 49);
}
.btn{
    text-align: center;
}
.btn .play_again{

    font-weight: 900;
    background-color: green;
    color: white;
    min-width: 150px;
    min-height: 50px;
    padding: 5px;

}